.main {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding: 0rem;
    min-height: 100vh;
    max-width: 100%;
    position: relative;
   
  }
  .btnoffer{
    width:202px;
    height:32px;
    border:12px 24px 12px 24px;
    gap: 10px;;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    align-items: center;
}


.heddin {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
.txtbtn{
    width: 122px;
height: 16px;

/* Button */

font-family: 'Fira Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 16px;
/* identical to box height, or 80% */

text-align: center;
letter-spacing: 0.5px;

/* Text On/Primary */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}


.ofer{
    /* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 8px;

position: absolute;
width: 43%;
height: 16%;
left: 79.22px;
top: 2.92px;

background: rgba(15, 67, 146, 0.3);
border-radius: 4px;
}



  @media only screen and (min-width: 600px) {
    .main {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0rem;
      min-height: 100vh;
      max-width: 50%;
        margin: auto;
        position: relative;
  
    }
  
  
    }