.btn{
    width:191px;
    height:39px;
    border:12px 24px 12px 24px;
    gap: 10px;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnConfirm{
  width:188px;
  height:44px;
  border:12px 24px 12px 24px;
  gap: 10px;;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.btnCheckOurPrpducts{
  width:70%;
  height:44px;
  border:12px 24px 12px 24px;
  gap: 10px;;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.btnEditInfo{
  width:175px;
  height:44px;
  border:12px 24px 12px 24px;
  gap: 10px;;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.button{
  width:80px;
  height:39px;
  border:12px 24px 12px 24px;
  gap: 10px;;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heddin {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem;
    min-height: 100vh;
    position: relative;
   
  }
@media only screen and (min-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem;
    min-height: 100vh;
    max-width: 50%;
      margin: auto;
      position: relative;

  }
  }